target/
.bsp/
.metals/
.idea/
*.class
*.jar
Day-21-Spark-Catalog/spark-warehouse/
Day-22-Batch-Mini-Project/output/
Day-24-Stateless-vs-Stateful-Streaming/output/
Day-25-Window-Operations/output/
Day-26-Real-Time-Healthcare/output/
Day-27-Real-Time-Banking/output/
Day-28-Real-Time-Booking/output/
Day-29-Real-Time-E-Commerce/output/
